.itemsInCart {
  /* background-color: #fff; */
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: crimson;
  /* border-radius: 50%; */
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  left: 15px;
  top: -10px;
}
