.header {
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 0px 0px;
}
.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.headerMenuItem a {
  font-size: 18px;
  font-weight: 600;
}

.headerMenuItem a:hover {
  color: aqua;
}
